   :root {
    --white: #ffffff;
    --grey: #414141;
    --red: #d62d20;
    --amarillo: #ffa700;
    --blue: #3367d6;
    --orange: #e34c26;
    --green: #008744;
    --blueReact: #61DBFB;
   }

a {
    text-decoration: none;
    color: var(--white);
}
  
a:hover {
    color: #bbbbbb;
}
   
html {
    scroll-behavior: smooth;
}   
   
section[id] {
    scroll-margin-top: 80px;
}

body {
	font-family: 'Roboto', sans-serif;
    /* background:var(--white);
    color: #f5f5f5; */
}

main {
    width: 100%;
}

/*The header starts here*/

.header {
    position: fixed;
    background: transparent;
    transition: 0.3s;
    display: flex;
    justify-content: space-between;
    width: 100%;
    z-index: 5;
}

header.scroll {
    background: rgba(0, 0, 0, 0.97);
}

.header__nav {
    width: 100%;
    display: inherit;
    justify-content: inherit;
    margin: 0 auto;
    padding: 0 20px;
    
}

.logo::before {
    content: "<";
    color: var(--blue);
}

.logo::after {
    content: "/>";
    color: var(--blue);
}

.nav-link {
    color: white;
    text-decoration: none;
}

.logo {
    font-size: 30px;
    font-weight: bold;
    padding: 0 40px;
    line-height: 80px;
    display:inherit;
}

.nav-menu {
    display: flex;
    margin-right: 40px;
    list-style: none;
}

.nav-menu-item {
   font-size: 18px; 
   margin: 0 10px;
   line-height: 80px;
   text-transform: uppercase;
}

.nav-menu-link {
    padding: 8px 12px;
    border-radius: 3px;
}

.nav-menu-link:hover, .nav-menu-link_active {
    background-color: #034574;
    transition: 0.5s;
}

.nav-toggle {
    color: white;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    display: none;
    cursor: pointer;
    z-index: 1;
}

.en {
    color: var(--white);
}

.es {
    color: var(--white);
}

.check {
    position: relative;
    width: 50px;
    height: 19px;
}

.check:before {
    content:"";
    position: absolute;
    width: 50px;
    height: 25px;
    background: #333;
    border-radius: 25px;
}

.check:after {
    content:"";
    position: absolute;
    width: 25px;
    height: 25px;
    background: var(--white);
    border-radius: 25px;
    transition: 0.25s;
    border: 2px solid var(--grey);
    box-sizing: border-box;
}

.check:checked:after {
    left: 25px;
    border: 2px solid var(--blue);
}

.check:checked:before {
    background: var(--blue);
}

/*Here begins the first section of the main*/

.home {
    min-height: 100vh;
    display: flex;
    padding: 0 30px;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.8);
    position: relative;
}

.home__background {
    background-image: url(../img/Background-1.png);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
}

.home__img {
    height: 250px;
    border-radius: 50%;
    margin: 0 0 30px;
}

.home__description {
    padding: 90px 0;
    text-align: center;
    padding: 0 30px 0 30px;
    
}

.home__title {
    font-size: 60px;
    text-shadow: 1px 1px black;
    color: var(--blue);
}

.home__title--primary, .home__title--secondary{
    font-size: 45px;
    color: #f5f5f5;
    text-shadow: 1px 1px black;
} 

/*Here begins the second section of the main*/

.container {
    width: 100%;
    display: inherit;
    max-width: 1200px;
    justify-content: inherit;
    margin: 0 auto;
    padding: 0 20px;
}

.about__title {
    color: var(--grey);
    font-size: 35px;
    margin-top: 40px;
    display: flex;
}

.about__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.about__description {
    text-align: left;
    color: var(--grey);
    padding-right: 80px;
    line-height: 40px;
}

.about__description h2 {
    color: var(--grey);
    margin: 20px 0;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.about__button--cv {
    background: var(--blue);
    color: var(--white);
    padding: 5px 30px;
    display: inline-block;
    align-self: center;
    margin: 20px auto;
    font: bold;
    border-radius: 5px;
    text-decoration: none;
}

.about__skills {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.skill__title {
    color: var(--grey);
    grid-column: span 3;
    text-align: left;
    margin: 20px 0;
}

.skill__item {
    font-size: 65px;
    color: var(--grey);
    padding: 35px;
    transition: all 0.3s;
    min-width: 130px;
    height: 180px;
    text-align: center;
}

.skill__item img {
    max-height: 100px;
    max-width: 100px;
}

.skill__name {
    font-size: 16px;
    text-align: center;
}

/*Here begins the services section*/

.main__service {
    /* padding: 90px 0; */
    text-align: center;
    background: white;
}

.main__container {
    width: 100%;
    display: inherit;
    max-width: 1200px;
    justify-content: inherit;
    margin: 0 auto;
    padding: 0 20px;
}

.services__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.section__title {
    color: var(--grey);
    font-size: 35px;
    margin-bottom: 30px;
    display: flex;
}

.section__subtitle {
    color: var(--grey);
    text-align: start;
    margin-bottom: 20px;
}

.services__item i {
    transition: all 0.3s;
    font-size: 40px;
    margin: 20px 0;
}

.services__item h3 {
    color: var(--grey);
    margin-bottom: 15px;
}

.services__item p {
    color: var(--grey);
}

.fa-mobile-screen-button {
    color: var(--blue);
}

.fa-pen-ruler {
    color: var(--orange);
}

.fa-code {
    color: var(--green);
}

.fa-thumbs-up {
    color: var(--orange);
}

.fa-gauge-high {
    color: var(--amarillo);
}

.fa-crosshairs {
    color: var(--blue)
}

.fa-mobile-screen-button:hover {
    color: var(--grey);
}
.fa-pen-ruler:hover {
    color: var(--grey);
}

.fa-code:hover {
    color: var(--grey);
}

.fa-thumbs-up:hover {
    color: var(--grey);
}

.fa-gauge-high:hover {
    color: var(--grey);
}

.fa-crosshairs:hover {
    color: var(--grey);
}

/*Here begins the portfolio section*/

.portfolio__container {
    width: 100%;
    display: inherit;
    max-width: 1200px;
    justify-content: inherit;
    margin: 0 auto;
    padding: 0 20px;    
}

.portfolio__title {
    color: var(--grey);
    font-size: 35px;
    margin-bottom: 30px;
    display: flex;
}

.portfolio__subtitle {
    color: var(--grey);
    text-align: start;
    margin-bottom: 20px;
}

.portfolio__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 300px;
    gap: 20px;
    text-align: center;
    overflow: hidden;
}

/* "Start card number one" */

.portfolio__item--one {
    background-image:url(../img/Bs._As._Nutricion.png);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    color: var(--white);
    position: relative;
}

.portfolio__item--one:hover {
    background-color: rgb(50, 50, 50);
    background-blend-mode: soft-light;
    background-size: 120%, 110%;
}

.portfolio__item--one::before {
    position: absolute;
    top: 10px;
    left: 20px;
    content: "";
    width: 0;
    height: 2px;
    background-color: var(--white);
    transition: 0.6s;
}

.portfolio__item--one:hover::before {
    width: 80%;
}

.portfolio__item--one::after {
    position: absolute;
    bottom: 10px;
    right: 20px;
    content: "";
    width: 0;
    height: 2px;
    background-color: var(--white);
    transition: 0.6s;
}

.portfolio__item--one:hover::after {
    width: 80%;
}

.portfolio__item--one h2 {
    position: absolute;
    left: 50%;
    margin-left: -23%;
    top: 70px;
    transform: translateX(-120%);
}

.portfolio__item--one:hover h2 {
    transform: translateX(0%);
    transition: 0.6s;
}

.portfolio__item--one p {
    position: absolute;
    left: 50%;
    margin-left: -25%;
    top: 130px;
    transform: translateX(180%);
}

.portfolio__item--one:hover p {
    transform: translateX(0%);
    transition: 0.6s;
}

.portfolio__buttons {
    position: absolute;
    left: 50%;
    margin-left: -37%;
    top: 200px;
    transform: translateX(-120%);
}

.portfolio__item--one:hover .portfolio__buttons{
    transform: translateX(0%);
    transition: 0.6s;
}

.button {
    background: var(--blue);
    color: #f5f5f5;
    padding: 5px 10px;
    display: inline-block;
    margin: 0 20px 0 20px;
    text-decoration: none;
    border-radius: 20px;
}

/* "Fin card number one" */

.portfolio__item--two {
    background-image:url(../img/Romero_Brothers.png);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    color: var(--white);
    position: relative;
}

.portfolio__item--two:hover {
    background-color: rgb(50, 50, 50);
    background-blend-mode: soft-light;
    background-size: 120%, 110%;
}

.portfolio__item--two::before {
    position: absolute;
    top: 10px;
    left: 20px;
    content: "";
    width: 0;
    height: 2px;
    background-color: var(--white);
    transition: 0.6s;
}

.portfolio__item--two:hover::before {
    width: 80%;
}

.portfolio__item--two::after {
    position: absolute;
    bottom: 10px;
    right: 20px;
    content: "";
    width: 0;
    height: 2px;
    background-color: var(--white);
    transition: 0.6s;
}

.portfolio__item--two:hover::after {
    width: 80%;
}

.portfolio__item--two h2 {
    position: absolute;
    left: 50%;
    margin-left: -25%;
    top: 70px;
    transform: translateX(-150%);
}

.portfolio__item--two:hover h2 {
    transform: translateX(0%);
    transition: 0.6s;
}

.portfolio__item--two p {
    position: absolute;
    left: 50%;
    margin-left: -15%;
    top: 130px;
    transform: translateX(250%);
}

.portfolio__item--two:hover p {
    transform: translateX(0%);
    transition: 0.6s;
}

.portfolio__buttons {
    position: absolute;
    left: 50%;
    margin-left: -35%;
    top: 200px;
    transform: translateX(-120%);
}

.portfolio__item--two:hover .portfolio__buttons{
    transform: translateX(0%);
    transition: 0.6s;
}

.button {
    background: var(--blue);
    color: #f5f5f5;
    padding: 5px 10px;
    display: inline-block;
    margin: 0 20px 0 20px;
    text-decoration: none;
    border-radius: 20px;
}

/* "Fin card number two" */

.portfolio__item--three {
    background-image:url(../img/corralon_el_puente.png);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    color: var(--white);
    position: relative;
}

.portfolio__item--three:hover {
    background-color: rgb(50, 50, 50);
    background-blend-mode: soft-light;
    background-size: 120%, 110%;
}

.portfolio__item--three::before {
    position: absolute;
    top: 10px;
    left: 20px;
    content: "";
    width: 0;
    height: 2px;
    background-color: var(--white);
    transition: 0.6s;
}

.portfolio__item--three:hover::before {
    width: 80%;
}

.portfolio__item--three::after {
    position: absolute;
    bottom: 10px;
    right: 20px;
    content: "";
    width: 0;
    height: 2px;
    background-color: var(--white);
    transition: 0.6s;
}

.portfolio__item--three:hover::after {
    width: 80%;
}

.portfolio__item--three h2 {
    position: absolute;
    left: 50%;
    margin-left: -25%;
    top: 70px;
    transform: translateX(-120%);
}

.portfolio__item--three:hover h2 {
    transform: translateX(0%);
    transition: 0.6s;
}

.portfolio__item--three p {
    position: absolute;
    left: 50%;
    margin-left: -25%;
    top: 130px;
    transform: translateX(180%);
}

.portfolio__item--three:hover p {
    transform: translateX(0%);
    transition: 0.6s;
}

.portfolio__buttons {
    position: absolute;
    left: 50%;
    margin-left: -33%;
    top: 200px;
    transform: translateX(-120%);
}

.portfolio__item--three:hover .portfolio__buttons{
    transform: translateX(0%);
    transition: 0.6s;
}

.button {
    background: var(--blue);
    color: #f5f5f5;
    padding: 5px 10px;
    display: inline-block;
    margin: 0 20px 0 20px;
    text-decoration: none;
    border-radius: 20px;
}

/* "Fin card number three" */

.main__contact {
    width: 100%;
    display: inherit;
    max-width: 1200px;
    justify-content: inherit;
    margin: 0 auto;
    padding: 0 20px;
    text-align: center;
}

.contact__title {
    color: var(--grey);
    font-size: 35px;
    margin-bottom: 30px;
    display: flex;
}

.contact__subtitle {
    color: var(--grey);
    text-align: start;
    margin-bottom: 20px;
}

.contact__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
  }
  
  .contact__item {
    color: var(--grey);
    padding: 40px;
    transition: all 0.3s;
  }
  
  .fa-envelope{
    color: var(--red);
  }
  
  .fa-github{
    color: black;
  }
  
  .fa-twitter{
    color: #00acee;
  }
  
  .fa-linkedin-in{
    color:#0e76a8  ;
  }
  
  .contact__item i {
    font-size: 50px;
    margin-bottom: 10px;
  }
  
  .fa-envelope:hover {
    transition: all 0.3s;
    color: var(--grey);
  }
  .fa-github:hover {
    transition: all 0.3s;
    color: var(--grey);
  }
  .fa-twitter:hover {
    transition: all 0.3s;
    color: var(--grey);
  }
  .fa-linkedin-in:hover {
    transition: all 0.3s;
    color: var(--grey);
  }
  .active a {
    color: #f5f5f5;
  }
  
  .footer {
    color: var(--grey);
    background-color: rgba(245,245,245,0.6);
    padding: 30px;
    text-align: center;
    font-size: 14px;
  }
  
  .footer a {
    color: var(--grey);
  }
  
  .footer a:hover {
    color: var(--blue);
  }

@media (max-width: 768px) {
    /*Aqui comienza el Home*/
    .header {
        height: 60px;
    }
    .logo {
        font-size: 25px;
        padding: 0 20px;
        line-height: 60px;
    }
    .nav-menu {
        flex-direction: column;
        margin-right: 20px;
        background-color: rgba(0, 0, 0, 0.97);
        position: fixed;
        left: 0;
        /* top: 60px; */
        width: 100%;
        align-items: center;
        height: calc(100% - 60px);
        overflow-y: auto;
        left: 100%;
        transition: left 0.3s;
    }
    .nav-menu-item {
        line-height: 70px;
    }
    .nav-menu-link:hover, .nav-menu-link_active {
       background: none;
       color: #83c5f7; 
    }
    .nav-toggle {
        display: block;
    }
    .nav-menu_visible {
        left: 0;
    }
    .home {
        flex-direction: column;
        text-align: center;
    }
    .home__picture {
        align-items: center;
    }
    .home__title {
        font-size: 30px; 
    } 
    .home__title--primary, .home__title--secondary{
        font-size: 25px;     
    } 

    /*Aqui comienza el About*/

    .about__grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }
    .skill__item {
        font-size: 50px;
        padding: 0;
        transition: all 0.3s;
        min-width: 75px;
        height: 150px;
    }

    /*Aqui comienza section service*/

    .main__service {
        padding: 0;
        
    }
    .services__grid {
        grid-template-columns: 1fr;
    }

    /*Aqui comienza section portfolio*/

    .portfolio__grid {
        grid-template-columns: 1fr;
    }
    
    /*Aqui comienza section contact*/

    .contact__grid {
        grid-template-columns: 1fr 1fr;
    }
}