   :root {
    --white: #ffffff;
    --grey: #414141;
    --red: #d62d20;
    --amarillo: #ffa700;
    --blue: #3367d6;
    --orange: #e34c26;
    --green: #008744;
    --blueReact: #61DBFB;
   }
   

body {
	font-family: 'Roboto', sans-serif;
}

/*The header starts here*/

.header {
    background-color: black;
    height: 80px;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    max-width: 992px;
    margin: 0 auto;
}

.logo::before {
    content: "<";
    color: var(--blue);
}

.logo::after {
    content: "/>";
    color: var(--blue);
}

.nav-link {
    color: white;
    text-decoration: none;
}

.logo {
    font-size: 30px;
    font-weight: bold;
    padding: 0 40px;
    line-height: 80px;
}

.nav-menu {
    display: flex;
    margin-right: 40px;
    list-style: none;
}

.nav-menu-item {
   font-size: 18px; 
   margin: 0 10px;
   line-height: 80px;
   text-transform: uppercase;
}

.nav-menu-link {
    padding: 8px 12px;
    border-radius: 3px;
}

.nav-menu-link:hover, .nav-menu-link_active {
    background-color: #034574;
    transition: 0.5s;
}

.nav-toggle {
    color: white;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    display: none;
    cursor: pointer;
}

/*Here begins the first section of the main*/

.home {
    min-height: 100vh;
    display: flex;
    padding: 30px;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.8);
    /* position: relative; */
}

.home__background {
    background-color: #8e8e8e;
    background-image: url(/img/background.png);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
}

.home__img {
    height: 250px;
    border-radius: 30%;
    margin: 0 0 30px;
}

.home__description {
    padding: 90px 0;
    text-align: center;
    padding: 0 30px 0 30px;
    
}

.home__title {
    font-size: 60px;
    text-shadow: 1px 1px black;
    color: var(--blue);
}

.home__title--primary, .home__title--secondary{
    font-size: 45px;
    color: #f5f5f5;
    text-shadow: 1px 1px black;
} 

/*Here begins the second section of the main*/

.container {
    width: 100%;
    display: inherit;
    max-width: 1200px;
    justify-content: inherit;
    margin: 0 auto;
    padding: 0 20px;
}

.about__title {
    color: var(--grey);
    font-size: 35px;
    margin-top: 40px;
    display: flex;
}

.about__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.about__description {
    text-align: left;
    color: var(--grey);
    padding-right: 80px;
    line-height: 40px;
}

.about__description h2 {
    color: var(--grey);
    margin: 20px 0;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.about__button--cv {
    background: var(--blue);
    color: var(--white);
    padding: 5px 30px;
    display: inline-block;
    align-self: center;
    margin: 20px auto;
    font: bold;
    border-radius: 5px;
    text-decoration: none;
}

.about__skills {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.skill__title {
    color: var(--grey);
    grid-column: span 3;
    text-align: left;
    margin: 20px 0;
}

.skill__item {
    font-size: 65px;
    color: var(--grey);
    padding: 35px;
    transition: all 0.3s;
    min-width: 130px;
    height: 180px;
    text-align: center;
}

.skill__item img {
    max-height: 100px;
    max-width: 100px;
}

.skill__name {
    font-size: 16px;
    text-align: center;
}




@media (max-width: 768px) {
    .header {
        height: 60px;
    }
    .logo {
        font-size: 25px;
        padding: 0 20px;
        line-height: 60px;
    }
    .nav-menu {
        flex-direction: column;
        margin-right: 20px;
        background-color: rgba(0, 0, 0, 0.97);
        position: fixed;
        left: 0;
        top: 60px;
        width: 100%;
        align-items: center;
        height: calc(100% - 60px);
        overflow-y: auto;
        left: 100%;
        transition: left 0.3s;
    }
    .nav-menu-item {
        line-height: 70px;
    }
    .nav-menu-link:hover, .nav-menu-link_active {
       background: none;
       color: #83c5f7; 
    }
    .nav-toggle {
        display: block;
    }
    .nav-menu_visible {
        left: 0;
    }
    .home {
        flex-direction: column;
        text-align: center;
    }
    .home__picture {
        align-items: center;
    }
    .home__title {
        font-size: 30px; 
    } 
    .home__title--primary, .home__title--secondary{
        font-size: 25px;     
    } 
    
}